{:selenium-host             "localhost"
 :selenium-port             "4444"
 :legal-process-url         "https://projudi.tjgo.jus.br"
 :legal-process-user        "user"
 :legal-process-password    "password"
 :legal-process-service-key "Magistrado UPJ"}
